{% extends "base.html" %}
{% block title %} Homepage MacBooks {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Outil de devis pour réparations MacBook
			</h3>
			<h5>
				Cet outil vous permet de rapidement établir un devis de réparation selon le temps et le prix des pièces.<br>
			</h5>
			<ul>
				<li class="list-item">
					Ne fonctionne pour l'instant qu'uniquement avec les écrans.
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
